body.home {
    background-color: black;
    background: url(imgs/apple2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*
body {
    background-color: blue;
}
*/
@font-face {
    font-family: chalkboard;
    src: url(rayando.ttf);
    font-weight: bold;
}

@font-face {
    font-family: chalktwo;
    src: url(DrawingGuides.ttf);
    font-weight: bold;
}

#title {
    position: fixed;
    top: 50px;
    left: 500px;
    font-family: chalkboard;
    color: white;
}

#homebuttons {
    position: fixed;
    top: 300px;
    left: 750px;
    font-family: chalkboard;
    color: white;
}

.jumbotron{
    background-color:transparent; !important;
}

.btn-space {
    margin-right: 10px;
}

h1.center {
    text-align:center;
}

h1.center2 {
    text-align:center;
    font-size: 50px;
}

#slight_right {
    margin:auto;
    /*position: absolute;*/
    right: 0px;
    width: 880px;
}


#font2 {
    font-family: chalktwo;
    color: white;
}

#gohome {
    position: fixed;
    top: 30px;
    left: 30px;
}

/* Test Page Code */

table, th, td {
    border: 1px solid #663300;
    border-collapse: collapse;
}


th, td {
    padding: 10px;
    text-align: center;
    
}

#error {
    font-size: 20px;
}

#outer {
    margin: 0 auto;
    width: 1200px;
}

#inner {
    border: 1px solid transparent;
    display:block;
    height: 300px;
    width: 550px;
    padding: 20px;
    overflow-y:scroll;
    overflow-x:scroll;
}

#inner_row {
    font-size: 30px;
    border: 4px solid white;
    height:10px;
}

td {
    height: 400px;
    width: 600px;
    padding: 10px;
    /*background: url(imgs/chalkboard9.png); */
}

#table2 {
    border: 1px solid white;
    border-collapse: collapse;
}

.tdth2 {
    padding: 5px;
    height: 50px;
    width: 100px;
}

#black {
    color:black;
}

#outer_bg1 {
    background: url(imgs/chalkboard9.png);  
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: 600px 400px;    
}

#outer_bg2 {
    background: url(imgs/chalkboard10.png);  
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: 1200px 800px;
}

 .navbar-default {
    background-color: transparent;
}

