{% extends "base.html" %}

{% block title %} Teacher Schedule {% endblock %}

{% block contents %}
<body background="static/imgs/chalkboard.jpg">

	<button type = "button" class = "btn btn-info btn-lg" id="gohome">
  	  <a href="/home">
	    <span class = "glyphicon glyphicon-home" style="color:white"></span> 
	  </a>
	</button>

	<br><br><br>

	<div class="container">

		<div class="jumbotron" style="font-family:chalkboard; color:white;">
			<h1> Error 404 </h1>
		</div>

	</div>

</body>

{% endblock %}

