{% extends "base.html" %}

{% block title %} Parent Teacher Conflict {% endblock %}

{% block contents %}

<!--<font color="white" size="20"><b>Parent Teacher Conflict</b></font>-->


<div id="homebuttons">
  <div class="btn-group">
    <button class="btn btn-danger btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Teacher <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Signup</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Parent <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Signup</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <btn class="btn btn-primary btn-lg" type="button">
      About
</button>
</div>
</div>

<!--
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
	<ul class="nav navbar-nav">
          <li><a = href="/"><b>PTC</b></a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
          <li><a href="/"><b>About</b></a></li>
	</ul>
      </div>
  </nav>
  <br><br><br>
    <h1> Parent Teacher Conflict </h1>
</div>
-->
{% endblock %}
