{% extends "base.html" %}

{% block title %} Parent Teacher Conflict {% endblock %}

{% block contents %}

<!--
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
	<ul class="nav navbar-nav">
          <li><a = href="/"><b>PTC</b></a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
          <li><a href="/"><b>About</b></a></li>
	</ul>
      </div>
  </nav>
  <br><br><br>
    <h1> Parent Teacher Conflict </h1>
</div>
-->

<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Parent Teacher Conflict
        </a>
      </li>
      <li>
        <a href="#">Student</a>
      </li>
      <li>
        <a href="#">Teacher</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>

          <!-- Page Content -->
          <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <h1>Parent Teacher Conflict</h1>
                  <p>Blah</p>
                  <p>Stuff<code>#page-content-wrapper</code>.</p>
                  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /#page-content-wrapper -->

      <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

{% endblock %}
