{% extends "base.html" %}

{% block title %} Selection Schedule {% endblock %}

{% block contents %}
<body background="static/imgs/chalkboard.jpg">

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <div style="font-family:chalkboard; color:white;">
      <ul class="nav navbar-nav">
          <!--<li><a href="/"><img src=""
             alt="logo"
             height="25"></a></li>-->
              <li><a = href="/"><b>PTC</b></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><b>Sign Out</b></a></li>
      </ul>
        </div>
  </nav>

<br><br><br><br>

<div class="container">
  <center>
  <table id="outer">
    <tr>
      <td class="bg1" id="outer_bg1" style="font-family:chalktwo; color:white;">
        <h3><u> Parent Information </u></h3>
        <p id="teacherinfo">
          Info: info
          <br>
          Info: info
          <br>
          Info: info
        </p>
      </td>


      <td rowspan="2" class="bg2" id="outer_bg1" style="font-family:chalktwo; color:white;">
        <div class="form-group">
          <h3><u>{{title}}</u></h3>

          {% if step == 0 %}
	  <p> Choose a Date and School</p>
          <form role="form" id="black" method="POST" action="findTeachers">
	    <div class="form-group">
	      <input type="date" name="date" id="black" min="2016/01/01" max="2020/12/31" placeholder="YYYY/MM/DD">
	    </div>
	    <div class="form-group">
	      <select id="school" name="school" tabindex="5"required>
		<option value="Select School" selected disabled>Select School</option>
		{% for school in schools %}
	      <option value={{school}}>{{school}}</option>
	      {% endfor %}
	      </select>
	    </div>
	    <div>
	      <input type="submit" value="Submit"></input>
	    </div>
	  </form>
	  {% endif %}
	  
	  {% if step == 1 %}
	  <form method="POST" action="findAppointments">
	    {% for teacher in teachers %}
	    <input type="checkbox" name="teachers" value={{teacher[0]}}>{{teacher[1]}} {{teacher[2]}}<br>
	    {% endfor %}
	    <input type="submit" value="Submit">
	  </form>
	  {% endif %}
	      
	  {% if step == 2 %}
	  <form method="POST" action="scheduleAppointments">
	    <table id="inner">
	      <tr>
		<td id="inner_row"> Time </td>
		<td id="inner_row"> Section </td>
		<td id="inner_row"> First Name </td>
		<td id="inner_row"> Last Name </td>
	      </tr>
	      {% for time, section, first, last in appointment %}
	      <tr>
		<td id="inner_row">{{time}}</td>
		<td id="inner_row">{{section}}</td>
		<td id="inner_row">{{first}}</td>
		<td id="inner_row">{{last}}</td>
	      </tr>
	      {% endfor %}
	    </table>
	  </form>
	  {% endif %}
	</div>
      </td>


<!--
          session['step'] == 0
<form method="POST" action="findTeachers">
  <input type="date" name="date" id="black" min="2016/01/01" max="2020/12/31" placeholder="YYYY/MM/DD">
  <select class="form-control input-lg" id="school" name="school" tabindex="5"required>
    <option value="Select School" selected disabled>Select School</option>
       {% for school in schools %}
       <option value={{school}}>{{school}}</option>
       {% endfor %}
  </select>
  <input type="submit" value="Find Teachers">
</form>

session['step'] == 1
<form method="POST" action="findAppointments">
  {% for teacher in teachers %}
  <input type="checkbox" name="teachers" value={{teacher}}>{{teacher}}<br>
  {% endfor %}
  <input type="submit" value="Submit">
</form>

session['step'] == 2
<form method="POST" action="scheduleAppointments">
  {{appointments}}
</form>


-->

<!--
            <form>
  <table>
    <tr>
      <th>Emptiness</th>
      <th> Time Slot </th>
      <th> Parent Name </th>
      <th> Student Name </th>
    </tr>
    <tr id="row1">
      <td> <input type="checkbox" name="reserve" value="slot 1"> </td>
      <td> Time 1 </td>
      <td>Not unsigned</td>
      <td>Not unsigned</td>
    </tr>
    <tr id="row2">
      <td>Can't reserve since parent signed up already</td>
      <td> Time 2 </td>
      <td> Parent 1 </td>
      <td> Student 1 </td>
    </tr>
  </table>

  <input type="submit" value="Submit">
  </form>

-->
        </div>
      </td>
    </tr>

  </table>
</center>
</div>


<!--
<div>
  <p> Parent Info </p>
</div>

<div>
  <form>
    Child Name: <input type="text" name="childname"> <input type="submit" value="Add">
  </form>
  <form>
    Teacher Name: <select>
      <option value="teacherid"> teacher name </option>
      <input type="submit" value="Add">
  </form>
</div>

<div>
  <form>
  <table>
    <tr>
      <th> Time Slot </th>
      <th> Parent Name </th>
      <th> Student Name </th>
    </tr>
    <tr id="row1">
      <td> <input type="checkbox" name="reserve" value="slot 1"> </td>
      <td> Time 1 </td>
      <td> <!-- Not unsigned --> <!--</td>
      <td> <!-- Not unsigned --> <!--</td>
    </tr>
    <tr id="row2">
      <td> <!-- Can't reserve since parent signed up already --> <!--</td>
      <td> Time 2 </td>
      <td> Parent 1 </td>
      <td> Student 1 </td>
    </tr>
  </table>

  <input type="submit" value="Submit">
  </form>
  
</div>

-->

{% endblock %}

