{% extends "base.html" %}

{% block title %} Teacher Schedule {% endblock %}

{% block contents %}
<body background="static/imgs/chalkboard.jpg">

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <div style="font-family:chalkboard; color:white;">
      <ul class="nav navbar-nav">
          <!--<li><a href="/"><img src=""
             alt="logo"
             height="25"></a></li>-->
              <li><a = href="/"><b>PTC</b></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><b>Sign Out</b></a></li>
      </ul>
        </div>
  </nav>

<br><br><br><br>

<div class="container">
  <center>
    <br><br>
  <table id="outer">
    <tr>
      <td class="bg1" id="outer_bg1"  style="font-family:chalktwo; color:white;">
        <h3><u> Welcome Teacher! </u></h3>
        <p id="teacherinfo">
          Add a time for when you are available:<!-- Teacher Name Jinga-->
          <br>
          <form  action="/addavailablitiy">
	    <input type="date" name="date" id="black" min="2016/01/01" max="2020/12/31" placeholder="YYYY/MM/DD">
	    <select id="black" name="time">
	      <option value="afternoon"> Afternoon </option>
	      <option value="evening"> Evening </option>
	    </select>
	    <input id="black" type="submit" value="Add">
	  </form>
	  <p> Select a Day to View Times </p>
	  <form method="POST">
	    <input type="date" name="date" id="black" min="2016/01/01" max="2020/12/31" placeholder="YYYY/MM/DD">
	    <input id="black" type="submit" value="View">
	  </form>
          <br>
        </p>
      </td>
      <td rowspan="2" class="bg2" id="outer_bg1" style="font-family:chalktwo; color:white;">
        <div>
          <h3><u> Appointment Times </u></h3>
	  <table id="inner">
	    <tr>
	      <td id="inner_row"> Time </td>
	      <td id="inner_row"> Section </td>
	      <td id="inner_row"> First Name </td>
	      <td id="inner_row"> Last Name </td>
	    </tr>
	    {% for time, section, first, last in appointment %}
	    <tr>
	      <td id="inner_row">{{time}}</td>
	      <td id="inner_row">{{section}}</td>
	      <td id="inner_row">{{first}}</td>
	      <td id="inner_row">{{last}}</td>
	    </tr>
	    {% endfor %}
	  </table>
        </div>
      </td>
    </tr>
  </table>
</center>
</div>



</body>


{% endblock %}
