{% extends "base.html" %}

{% block title %} Teacher Schedule {% endblock %}

{% block contents %}
<body background="static/imgs/chalkboard.jpg">

  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          <div style="font-family:chalkboard; color:white;">
      <ul class="nav navbar-nav">
          <!--<li><a href="/"><img src=""
             alt="logo"
             height="25"></a></li>-->
              <li><a = href="/"><b>PTC</b></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><b>Sign Out</b></a></li>
      </ul>
        </div>
  </nav>

<br><br><br><br>

<div class="container">
  <center>
    <br><br>
  <table id="outer">
    <tr>
      <td class="bg1" id="outer_bg1"  style="font-family:chalktwo; color:white;">
        <h3><u> Welcome Teacher! </u></h3>
        <p id="teacherinfo">
          Info: info <!-- Teacher Name Jinga-->
          <br>
          <form  action="/addavailablitiy">
	    <input type="date" name="date" id="black" min="2016/01/01" max="2020/12/31" placeholder="YYYY/MM/DD">
	    <select id="black" name="time">
	      <option value="afternoon"> Afternoon </option>
	      <option value="evening"> Evening </option>
	    </select>
	    <input type="submit" value="Add">
	  </form>
          <br>
          Info: info
        </p>
      </td>
      <td rowspan="2" class="bg2" id="outer_bg1" style="font-family:chalktwo; color:white;">
        <div>
          <h3><u> Appointment Times </u></h3>
	  <table hidden>
	  </table>
<!--
            <form>
  <table>
    <tr>
      <th>Emptiness</th>
      <th> Time Slot </th>
      <th> Parent Name </th>
      <th> Student Name </th>
    </tr>
    <tr id="row1">
      <td> <input type="checkbox" name="reserve" value="slot 1"> </td>
      <td> Time 1 </td>
      <td>Not unsigned</td>
      <td>Not unsigned</td>
    </tr>
    <tr id="row2">
      <td>Can't reserve since parent signed up already</td>
      <td> Time 2 </td>
      <td> Parent 1 </td>
      <td> Student 1 </td>
    </tr>
  </table>

  <input type="submit" value="Submit">
  </form>

-->
        </div>
      </td>
    </tr>
<!--    <tr>
      <td class="bg1" id="outer_bg1" style="font-family:chalktwo; color:white;"> 
        <div>
  <!-- For more information on a specific appointment 
          <p id="parentcomment"> Blah </p>
          <p id="teachercomment"> Blah Blah </p>
  
          <form id="black">
          <input type="hidden" name="appointment" value="appointment_id">
          Comment: <input type="text" name="tcomment"> <input type="submit" value="Comment">
          </form>
        </div>
    </td>


    </tr> -->
  </table>
</center>
</div>



</body>


{% endblock %}
