{% extends "base.html" %}

{% block title %} Teacher Schedule {% endblock %}

{% block contents %}
<body>

<br><br><br><br>

<div class="container">
  <table>
    <tr>
      <td class="bg1">
        <div>
          <p id="teacherinfo">Hi</p>
        </div>
      </td>
      <td rowspan="2" class="bg2">
        <div>
          <p>Time </p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="bg1"> Hola </td>
    </tr>
  </table>
</div>



</body>


{% endblock %}
