{% extends "base.html" %}

{% block title %} Test {% endblock %}

{% block contents %}

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
    	<div class="container-fluid">
      		<div>
			<ul class="nav navbar-nav">
	  			<!--<li><a href="/"><img src=""
			       alt="logo"
			       height="25"></a></li>-->
          		<li><a = href="/"><b>PTC</b></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
          		<li><a href="#"><b>Sign Out</b></a></li>
			</ul>
      	</div>
	</nav>

	<br><br><br><br>
	
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Heading</div>
			<table class="table">
				<tr>
					<td>a</td>
					<td>a</td>
					<td>a</td>
				</tr>
				<tr>
					<td>b</td>
					<td>b</td>
					<td>b</td>
				</tr>
			</table>
		</div>


</body>

{% endblock %}
