{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block contents %}

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
    	<div class="container-fluid">
      		<div>
			<ul class="nav navbar-nav">
	  			<!--<li><a href="/"><img src=""
			       alt="logo"
			       height="25"></a></li>-->
          		<li><a = href="/"><b>PTC</b></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
          		<li><a href="#"><b>Sign Out</b></a></li>
			</ul>
      	</div>
	</nav>
</body>

{% endblock %}
